.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5rem ;
  /* border: 3px solid blue; */
  height: 90%;
  width: 100%;
}

.hero{

}